 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Stanford Tape and Scissors is a student-run project out of Stanford University. Tape and Scissors is a subgroup of Stanford's Solar and Wind Energy Project (SWEP) and was funded through an EPA E3 Grant. For more information about SWEP, please visit our website <a class="normal_link" href="http://burdjalov1.wix.com/swep">here.</a></p>
                </div>
                <div class="col-lg-4">
                    <p>Our mission is to make renewable energy education accessible for both students and teachers. All lesson plans are published with permission and are available for educational use. Please feel free to contact us using the form below. We are constantly looking for contributors!</p>
                </div>
            </div>
        </div>
    </section>
